include node:@haztivity/hz-navbar/src/_hzNavbar
div(data-hz-pages)
-
    let options = {
        "quiz":{
            "randomize":true,
            "autoGoNext":true,
            "immediateFeedback":true,
            "showCorrection":false,
            "showResult":false,
            "delayOnAutoNext":1000,
            "quiz":{
                "header": {
                    "title": "My quiz",
                    "description": "Description for my quiz",
                    "actions":[
                        {
                            "type":"start",
                            "content":"Comenzar"
                        }
                    ]
                }
            }
        },
        "pages":{
            "6611":{
                "questions":[
                    {
                        "content":"Question 1",
                        "options":[
                            {
                                "name":"option11",
                                "content":"Option incorrect",
                                "isCorrect":false
                            },
                            {
                                "name":"option12",
                                "content":"Option correct",
                                "isCorrect":true
                            }
                        ]
                    }
                ]
            },
            "6612":{
                "questions":[
                    {
                        "content":"Question 2",
                        "options":[
                            {
                                "name":"option21",
                                "content":"Option incorrect",
                                "isCorrect":false
                            },
                            {
                                "name":"option22",
                                "content":"Option correct",
                                "isCorrect":true
                            }
                        ]
                    }
                ]
            }
        }
    }
div(
    data-hz-component="HzQuestionsForPages",
    data-opt-hz-questions-for-pages-options=options,
    data-opt-hz-questions-for-pages-toggler="#toggleQuestions"
)
    p#waitingEnd Ya puede avanzar a la siguiente página. Puede cerrar el cuestionario actual mediante el botón de cerrar.
    div(data-hz-questions-for-pages-quiz)
-
    let times = {
        "6611":{
            "weight":1
        },
        "6612":{
            "weight":1
        },
        "6613":{
            "weight":0
        }
    }
div(data-hz-component="HzTimeControlQuestions", data-opt-hz-time-control-questions-progress-bar="#timeProgress", data-opt-hz-time-control-questions-progress-time="#timeProgressTime", data-opt-hz-time-control-questions-time="1", data-opt-hz-time-control-questions-slope="0.01", data-opt-hz-time-control-questions-times=times, data-opt-hz-time-control-questions-waiting-end="#waitingEnd")
div#timeProgress
    span#timeProgressTime
+hz-navbar
